<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lab10</title>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
    <footer>Nicole Romero 10438134</footer>
</body>

</html>