body {
  background: #DFDFD4;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
}

main {
  max-width: 75%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

.navbar-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  padding: 20px
}

.topnav a {
  float: left;
  display: block;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #81BE1C;
  /* color: rgb(0, 0, 0); */
}

a:active {
  /* background-color: #42650b; */
  background-color: aqua;
  color: #d8efb5;
}

.error {
  color: red;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.post {
  width: 75%;
  border-bottom: 1px dashed #333;
}

.comment-card {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  width: 40%;
  border-radius: 5px;
}

.comment-info {
  padding: 2px 16px;
}
