
body {
    background: #94d4ff;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
  }
  
  .post {
    width: 75%;
    border-bottom: 1px dashed #333;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  }


  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 150px;
    height:150px;
    border-radius: 30px;
    padding: 20px
  }

.topnav {
overflow: hidden;
/* background-color: #9EB190; */
}

.topnav a {
float: left;
display: block;
color: #000000;
font-weight: bold;
/*   color: #f2f2f2; */
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

.active {
/* background-color: #15352A; */
color: rgb(0, 0, 0);
}

.topnav .icon {
display: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
background-color: #255dc6;
color: rgb(0, 0, 0);
}

.error {
  color: red;
}

img {
  max-width: 200px;
  max-height: 200px;
 }