{{!-- nav bar --}}
<nav class="navbar-background">
    <ul class="nav-list">
        <div class="logo">
            <img src="/public/images/BTgKA7eGc.gif">
            <div class="topnav" id="myTopnav">
                <h1>PetBlog</h1>
                <a href="/posts"> Blog Posts</a>
                <a href="/pets"> Animal Posts</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </ul>
</nav>

<h1>Add Pet Post</h1>
<div>
    <p class="error">{{error}}</p>
    <form action="/pets/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Pet Name</label>
            <input class="form-control" id="title" type="text" name="name" placeholder="Name of the Pet" pattern="[A-Za-z ]*"
                required>
        </div>
        <div class="form-group">
            <label for="type">Animal Type</label>
            <input class="form-control" id="type" type="text" name="type" placeholder="Type of the Pet" pattern="[A-Za-z]*"
                required>
        </div>
        <div class="form-group">
            <label for="age">Pet Age</label>
            <input class="form-control" id="age" type="number" name="age" placeholder=0 pattern="[0-9]*"
                required>
        </div>
        <div class="form-group">
            <label for="zip">Zipcode</label>
            <input class="form-control" id="zip" type="text" name="zip" placeholder="Zipcode" pattern="[0-9]{5}"
                required>
        </div>
        <div class="form-group">
            <label for="tag">Tag</label>
            <input class="form-control" id="tag" type="text" name="tag" placeholder="Tag" pattern="[A-Za-z]*"
                required>
        </div>
        <div class="form-group">
            <label for="description">Pet Description </label>
            <textarea class="input-group" id="description" name="description" rows="8"
                placeholder="Pet Description" required></textarea>
        </div>

        <div class="form-group">
            <label class="pet-img" for="">Pet Image</label>
            <input id="upload-file" class="d-none" name="file" type="file" required>
        </div>
        <input class="form-control" type="submit" value="Post">
    </form>
</div>