* {
	box-sizing: border-box;
}
html,
body {
	font-size: 14pt;
}

body {
	background: #9bc0d1;
	font-family: Georgia, "Times New Roman", serif;
}

main {
	max-width: 75%;
	background: #eee0e7;
	margin: auto;
}
h1,
h2
 {
	color: rgb(54, 73, 180);
	margin-bottom: 5px;
}
h1 {
	font-size: 2rem;
}
p {
	font-size: 1rem;
	color: rgb(211, 29, 29);
	line-height: 2;
}
label {
	font-weight: bold;
}
li {
	color: rgb(72, 146, 82);
}
footer{
	font-weight: bold;
	color: rgb(15, 36, 226);
}
dt{
	font-weight: bold;
}
dd{
	color: rgb(76, 89, 207);
}