{{!-- nav bar --}}
<nav class="navbar-background">
    <ul class="nav-list">
        <div class="logo">
            <img src="/public/images/BTgKA7eGc.gif">
            <div class="topnav" id="myTopnav">
                <h1>PetBlog</h1>
                <a href="signup">Sign Up</a>
                <a href="login">Login</a>
            </div>
        </div>
    </ul>
</nav>
<div>
    <h1>Sign Up: </h1>
    <form method="POST" action="/signup" id="signup-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter your username here..." pattern="[A-Za-z0-9]*" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter your password here..." required>
        <button class="button1" type="submit">Sign Up</button>
    </form>
    <p class="error">{{error}}</p>
    <a href="login">Already have an account? Click here to log in.</a>
</div>