<div>
    <h1>Sign-Up:</h1>
    <form id="signup-form" method="POST" action="/signup">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <button id="signupButton" type="submit">Submit</button>
    </form>
    <p>{{error}}</p>
    {{!-- <a href="/login">Already have an account? Click here to log-in</a> --}}
</div>