    <h1>
        Successful Login
    </h1>
    <h2>
        Private Information:
    </h2>
        <ul>
            <li>Username: {{username}}</li>
        </ul>
        <a href="/logout">Click here to logout!</a>
