<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Oops! Try again.</title>

    <h1>Error 500: Internal Server Error</h1>
    <main>
        <a href="/">Click here to try again!</a>
    </main>
