
    <h1>Login:</h1>
     {{#if err}}
    <p class="show-not-found">Empty username or password</p>
    {{/if}}
    {{#if err1}}
    <p class="error-not-found"> Password must be a valid string (no spaces, no empty spaces but can be any other character including special characters) and should be at least 6 characters long</p>
    {{/if}}
    {{#if err2}}
    <p class="empty-search-box">UserName should be valid string (no empty spaces, no spaces in the username and only alphanumeric characters) and should be at least 4 characters long and should be case-insensitive </p>
    {{/if}}
    {{#if err3}}
    <p class="empty-search-box"> Invalid UserName and/ or Password </p>
    {{/if}}
   
        <form method="POST" action="/login" id="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username">
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="Enter your password ">
            <br>
            <button class="button1" type="submit">Submit</button>
            </form>
  
    <a href="/signup">SignUp!</a>
