<div>
    <nav>
        <ul>
            <li><a href="/Blog">Blog</a></li>
            <li><a href="/Foster">Fosterable Animals</a></li>
            <li><a href="/Profile">My Profile</a></li>
        </ul>
    </nav>
</div>