{{!-- nav bar --}}
<nav class="navbar-background">
    <ul class="nav-list">
        <div class="logo">
            <img src="/public/images/BTgKA7eGc.gif">
            <div class="topnav" id="myTopnav">
                <h1>PetBlog: find or post a pet</h1>
                <a href="/posts"> Blog Posts</a>
                <a href="/pets"> Animal Posts</a>
                <a href="/logout">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </ul>
</nav>

<h1>Add Post</h1>
<div>
    <div>
        <p class="error">{{error}}</p>
        <form action="/posts/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" placeholder=" Title of the Post"
                    required>
            </div>
            <div class="form-group">
                <label for="title">Tag</label>
                <input class="form-control" id="Tag" type="text" name="Tag" placeholder="Tag" required>
            </div>
            <div class="form-group">
                <label for="post-body">Body </label>
                <textarea class="input-group" id="post-body" name="body" rows="20"
                    placeholder="Write what is in your mind"></textarea>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <div class="form-group mr-3">
                    <label class="mr-3" for="">Header Image</label>
                    <input id="upload_file" class="d-none" name="file" type="file">
                </div>
            </div>
            <input class="form-control btn btn-dark" type="submit" value="Post">
        </form>
    </div>
</div>